# replace it with your @hgraph.io/sdk api key
HGRAPH_API_KEY=eyJhbGciOiJSUzI1NiIsInR5cCI6IkpXVCIsImtpZCI6InFRMU1RVF85Sm9VSlNoVkpHdEEyVCJ9.eyJodHRwczovL2hhc3VyYS5pby9qd3QvY2xhaW1zIjp7IngtaGFzdXJhLWFsbG93ZWQtcm9sZXMiOlsidXNlciJdLCJ4LWhhc3VyYS1kZWZhdWx0LXJvbGUiOiJ1c2VyIiwieC1oYXN1cmEtdXNlci1pZCI6Imdvb2dsZS1vYXV0aDJ8MTA5MjY5NzIxNDExMjU2NTU0MDY1In0sImlzcyI6Imh0dHBzOi8vYXV0aC5oZ3JhcGguaW8vIiwic3ViIjoiZ29vZ2xlLW9hdXRoMnwxMDkyNjk3MjE0MTEyNTY1NTQwNjUiLCJhdWQiOlsiaHR0cHM6Ly9hcGkuaGdyYXBoLmlvIiwiaHR0cHM6Ly9oZ3JhcGgudXMuYXV0aDAuY29tL3VzZXJpbmZvIl0sImlhdCI6MTcxNzY2OTI0NCwiZXhwIjoxNzE3NzU1NjQ0LCJzY29wZSI6Im9wZW5pZCBwcm9maWxlIGVtYWlsIiwiYXpwIjoiUzR2UDlmeUtEQWdwVFAwT1pKZ1V0TzlsNlVSeXJnZTcifQ.NPEkrMpHYrPRIeHn0GjUpI7ocKuEW3bB8kDV_P5SlXiVR_NO06SSm5BN5KLEekKIpye6eDr8giplVNNoZFdNyL8ix9WZkoYTrtDf7tjSJRr1-RhVNAzZpbrFxSOTde5rZzUEdsuML0ILkd4CLphY5PXCGbuerCwVkpteDX9RD08D-Xnrx0J0pW46YFJvnOV8ML8TAm5PIwyDoBM4gxo5RI1-hIKdGwHKwT5PNX3UuTWmypsnROsULOzXIpKwY7BvqYfU3e1eaQrgyyUx5SKAJk_GRwv96ngBwSrfqp7oyhanrIk6wAuLrVfhHM8L9Pn2cb0G1e9uif6snw7Zimp42g
CONTRACT_ID=4420050
CONTRACT_EVM=0xe04913457812bf84a3e2403616d0e68ba44e6eb9
